<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="favicon.ico"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<a href="{{ path('program_list', {page: 5}) }}">Afficher la page 5</a>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<header>
		{% include '_navbar.html.twig'%}
	</header>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>