{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>{{ navbar}}
		index</h1>
{% endblock %}

{% block body %}
<h1>Page number {{ page }}.</h1>
	{% endblock %}